.sidenav {
     display: inline-flex;    
    height: auto;
    width: 250px;
    position: relative;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-color: hsl(0, 0%, 100%);
    overflow-x: hidden;
    padding-top: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  

  .address {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #837878;
    border-radius: 5px;
}

.address ul {
    list-style-type: none;
    padding: 0;
}

.address ul li {
    margin-bottom: 10px;
}

.address ul li strong {
    font-weight: bold;
}

.address ul li::before {
    content: "\2022"; /* Bullet point */
    color: #666;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.address a{
  color: #fd0404;
}
.address a:hover{
  color: hsl(0, 0%, 0%);
}
/* Alternate background color for even li elements */
.address ul li:nth-child(even) {
    background-color: #f2f2f2;
}



  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    
    color: hsl(0, 0%, 0%);
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #fd0404;
  }
  
  /* Style page content */
  .main {
    display: block;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  .check {
    display: inline-flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .edit-data {
    color: white;
    background-color: #4446c7;
    border-radius: 12px;
  }
  .edit-data:hover{
    color: hsl(0, 0%, 100%);
  }