/* Style the table */
#admindashboardTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style table headers */
  .admindashboardTableRow th {
    padding: 6px;
    text-align: center;
    border-color: black;
    background-color: #5D87FF;
    border-bottom: 5px solid #000000;
    color: white;
  }
  
  /* Style table rows */
  .admindashboardTableRow td {
    padding: 5px;
    border-color: black;
    border-bottom: 1px solid #ffffff;
  }
  
  /* Style table rows on hover */
  .admindashboardTableRow:hover {
    border-color: black;
    font-size: 110%;
    color: #212121;
    background-color: #d6d6d6;
  }
  
  /* Style image container */
  .image-container {
    display: flex;
  }
  
  /* Style images */
  .admindashboardTableRow img {
    max-width: 60px; /* Adjust as needed */
    height: auto;
    margin-right: 10px; /* Adjust spacing between images */
  }
  .pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #ccc;
}

.pagination .active {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
}
 