/* Style table rows */
.admindashboardTableRow:nth-child(even) {
    background-color: #f2f2f2;
}

.admindashboardTableRow:nth-child(odd) {
    background-color: #ffffff;
}

/* Style table cells */
#admindashboardTable td {
    padding: 8px;
}

/* Style link within table cells */
#admindashboardTable a {
    color: blue;
    text-decoration: none;
}

#admindashboardTable a:hover {
    text-decoration: underline;
}
.pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #ccc;
}

.pagination .active {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
}